.page-pratice {
  position: relative;
  height: 100%;
  overflow: scroll;
  margin-top: 10px;
  scrollbar-color: linear-gradient(to bottom, #ff8a00, #da1b60);
  scrollbar-width: 30px;
  /* background: #100e17;
  color: #fff; */
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ff8a00, #da1b60);
    border-radius: 10px;
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
      inset -2px -2px 2px rgba(0, 0, 0, 0.25);
    /* box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
      inset -2px -2px 2px rgba(0, 0, 0, 0.25); */
  }
  &::-webkit-scrollbar-track {
    background: linear-gradient(
      to right,
      #201c29,
      #201c29 1px,
      #100e17 1px,
      #100e17
    );
  }
  & .book-box {
    width: 1000px;
    margin: auto;
    position: relative;
    & .book-shelf {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
  & .pratice-line {
    height: 248px;
    margin: auto;
    position: relative;
    top: 58px;
    & .pratice-item-box {
      width: 90%;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      margin: auto;
      position: relative;
      z-index: 4;
      bottom: 0;
      top: 22px;
      & > i {
        width: 160px;
      }
      & .pratice-book {
        position: relative;
        width: 160px;
        height: 220px;
        perspective: 1000px;
        transform-style: preserve-3d;
        transform: scale(0.76);
        & ul {
          margin: 0;
          padding: 0;
          list-style: none;
        }
        & .hardcover_front {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform-style: preserve-3d;
          transform-origin: 0% 100%;
          transition: all 0.8s ease, z-index 0.6s;
          transform: rotateY(-34deg) translateZ(8px);
          z-index: 100;
          & li {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            & .grey {
              background-color: #f8e9d1;
              background-image: -webkit-linear-gradient(
                top,
                #f8e9d1 58%,
                #e7d5b7 0%
              );
            }
            & .coverDesign {
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              overflow: hidden;
              z-index: 1;
              backface-visibility: hidden;
              background-size: cover;
              & h1 {
                color: #ad7236;
                font-size: 24px;
                letter-spacing: 0.05em;
                text-align: center;
                margin: 42% 0 0 0;
                text-shadow: -1px -1px 0 rgb(0 0 0 / 10%);
                font-weight: bolder;
              }
              & p {
                color: #ad7236;
                font-size: 18px;
                text-align: center;
                text-shadow: -1px -1px 0 rgb(0 0 0 / 10%);
              }
            }
            &:first-child {
              cursor: default;
              user-select: none;
              transform: translateZ(2px);
              background-color: #eee;
              backface-visibility: hidden;
              &:before {
                box-sizing: border-box;
                content: "";
                background: #999;
                position: absolute;
                top: 0;
                left: 0;
                width: 4px;
                height: 100%;
                /* transform: rotateY(90deg) translateZ(158px) translateX(2px); */
              }
            }
            &:last-child {
              background: #fffbec;
              transform: rotateY(180deg) translateZ(2px);
              &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 4px;
                height: 160px;
                box-sizing: border-box;
                background: #999;
                /* box-shadow: 0px 0px 30px 5px #333; */
                transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px)
                  translateX(-2px) translateY(-78px);
              }
              &:after {
                position: absolute;
                top: 0;
                left: 0;
                width: 4px;
                height: 160px;
                box-sizing: border-box;
                background: #999;
                transform: rotateX(90deg) rotateZ(90deg) translateZ(80px)
                  translateX(-2px) translateY(-78px);
              }
            }
          }
        }
        & .page {
          width: 100%;
          height: 98%;
          top: 1%;
          left: 3%;
          z-index: 10;
          transform-style: preserve-3d;
          & li {
            width: 100%;
            height: 100%;
            transform-origin: left center;
            transition-property: transform;
            transition-timing-function: ease;
            position: absolute;
            top: 0;
            left: 0;
            transform-style: preserve-3d;
            background: -webkit-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
            box-shadow: inset 0px -1px 2px rgb(50 50 50 / 10%),
              inset -1px 0px 1px rgb(150 150 150 / 20%);
            border-radius: 0px 5px 5px 0px;
            &.book-con {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              & h1 {
                color: #ad7236;
                font-size: 22px;
                letter-spacing: 0.05em;
                text-align: center;
                text-shadow: -1px -1px 0 rgb(0 0 0 / 10%);
                font-weight: bolder;
                height: 125px;
                overflow: hidden;
                line-height: 1.2;
              }
            }
            &:nth-child(1) {
              transform: rotateY(-28deg);
              transition-duration: 0.6s;
            }
            &:nth-child(2) {
              transition-duration: 0.6s;
              transform: rotateY(-30deg);
              display: flex;
              align-items: center;
              justify-content: center;
              & .btn {
                display: block;
                /* color: #2c3e50; */
                color: #ad7236;
                border: 2px solid #ad7236;
                font-size: 20px;
                font-weight: bolder;
                padding: 0.1em 0.4em;
                text-align: center;
                cursor: pointer;
                /* transition: color 0.3s, border-color 0.3s; */
              }
            }
            &:nth-child(3) {
              transition-duration: 0.4s;
              transform: rotateY(-32deg);
            }
            &:nth-child(4) {
              transition-duration: 0.5s;
              transform: rotateY(-34deg);
            }
            &:nth-child(5) {
              transition-duration: 0.6s;
              transform: rotateY(-36deg);
            }
          }
        }
        & .hardcover_back {
          transform-origin: 0% 100%;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          /* transform-style: preserve-3d; */
          transform: rotateY(-15deg) translateZ(-8px);
          & li {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            &:first-child {
              background: #fffbec;
              transform: translateZ(2px);
              &:beore,
              &:after {
                content: "";
                width: 4px;
                height: 100%;
                box-sizing: border-box;
                background: #999;
                position: absolute;
                top: 0;
                left: 0;
                /* transform: rotateY(90deg) translateZ(158px) translateX(2px); */
              }
              &:after {
                /* transform: rotateY(90deg) translateZ(-2px) translateX(2px); */
              }
            }
            &:last-child {
              transform: translateZ(-2px);
              background: #fffbec;
              &:before,
              &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 4px;
                height: 160px;
                box-sizing: border-box;
                background: #999;
                /* box-shadow: 10px -1px 80px 20px #666; */
                transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px)
                  translateX(2px) translateY(-78px);
              }
              &:after {
                transform: rotateX(90deg) rotateZ(90deg) translateZ(80px)
                  translateX(2px) translateY(-78px);
              }
            }
          }
        }
        & .book_spine {
          transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
          width: 16px;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          transform-style: preserve-3d;
          & li {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            &:first-child {
              transform: translateZ(2px);
              background: #eee;
              &:before,
              &:after {
                content: "";
                width: 4px;
                height: 100%;
                box-sizing: border-box;
                background: #999;
                position: absolute;
                top: 0;
                left: 0;
                transform: rotateY(-90deg) translateZ(-12px);
              }
              &:after {
                transform: rotateY(90deg) translateZ(-2px) translateX(2px);
              }
            }
            &:last-child {
              transform: translateZ(-2px);
              background: #333;
              &:before,
              &:after {
                content: "";
                width: 4px;
                height: 16px;
                box-sizing: border-box;
                background: #999;
                position: absolute;
                top: 0;
                left: 0;
                /* box-shadow: 5px -1px 100px 40px rgb(0 0 0 / 20%); */
                transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px)
                  translateX(2px) translateY(-6px);
              }
            }
          }
        }
        &:hover {
          & > .hardcover_front {
            transform: rotateY(-145deg) translateZ(0);
            z-index: 0;
          }
          & > .page li:nth-child(1) {
            transform: rotateY(-30deg);
            transition-duration: 1.5s;
          }
          & > .page li:nth-child(2) {
            transform: rotateY(-35deg);
            transition-duration: 1.8s;
          }
          & > .page li:nth-child(3) {
            transform: rotateY(-118deg);
            transition-duration: 1.6s;
          }
          & > .page li:nth-child(4) {
            transform: rotateY(-130deg);
            transition-duration: 1.4s;
          }
          & > .page li:nth-child(5) {
            transform: rotateY(-140deg);
            transition-duration: 1.2s;
          }
        }
      }
      & .pratice-item {
        width: 20%;
        background-color: #1c7b51;
        margin: 26px;
        font-size: 20px;
        font-weight: bolder;
        box-sizing: border-box;
        padding: 6px;
        height: 0;
        padding-bottom: 24%;
        position: relative;
        cursor: pointer;
        text-shadow: 1px 1px 1px #000;
        line-height: 1.5;
        &:after {
          content: "";
          position: absolute;
          overflow: hidden;
          right: -12px;
          bottom: 6px;
          width: 32px;
          height: 129px;
          background: rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px rgb(0 0 0 / 40%);
          transform: perspective(300px) rotateX(29deg) rotateY(-61deg)
            rotateZ(-11deg) translateX(8px) translateY(8px);
          z-index: -1;
        }
      }
    }
    & .desk {
      background: #ad7235;
      width: 100%;
      margin: auto;
      height: 7px;
      border-bottom: 2px solid #ad7235;
      transform-style: preserve-3d;
      position: relative;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
      margin-top: -12px;
      z-index: 0;
      &:after {
        content: "";
        display: block;
        width: 114%;
        background: #ad7235;
        height: 65px;
        transform: perspective(300px) rotateX(42deg) translateX(-7%)
          translateY(-144%);
        position: absolute;
        bottom: -66px;
        left: 0px;
        z-index: 1;
      }
    }
  }
}

@media (width>1200px) {
  /* .pratice-book {
    transform: scale(0.62) !important;
  }
  .pratice-item-box {
    top: 10px !important;
  } */
}
@media (width<=990px) {
  /* .pratice-book {
    transform: scale(0.62) !important;
  }
  .pratice-item-box {
    top: 10px !important;
  } */
}
